<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        {{> header}} my Page
        <h3>Welcome {{screamIt Name}}</h3>
        <p>Some text here</p>
    
    {{> footer}}
    </body>
</html>